.container {
  width: 188px;
  height: 218px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .imgContainer {
    height: calc(100% - 60px);
    width: 100%;
  }

  .nameContainer {
    border-top: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    padding: 10px 14px;
    position: relative;

    .bottomRightTriangle {
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 10px solid white;
      border-left: 10px solid transparent;
      z-index: 2;
    }
  }

}
